// JQUERY AND NORMALIZED CSS INSTALLED
// View settings for more info.

#pageContainer
	#formContainer
		#logo
			img(src="https://pbs.twimg.com/profile_images/810772925317951488/_vANfz0U.jpg")
		#forms
			form#whyReg
				.fadeUp
					.formHead
						h1 WHY REGISTER?
					.formDiv
						ul
							li Access to member pages only.
							li Able to comment on any post to share your opinion.
							li Able to download source code files.
					.formOther
						a.regBtn(href="#") Close
			form#forgot
				.fadeUp
					.formHead
						h1 FORGOT PASSWORD?
						p Looks like you forgot your password
					.formDiv
						input(type="email" placeholder="Type your email")
					.formDiv
						input(type="submit" value="SEND EMAIL")
					.formOther
						a.backLoginF(href="#") BACK TO LOGIN
						a(href="#") CONTACT STAFF
			form#login
				.formHead
					h1 WELCOME BACK
					p Login to continue
				.formDiv
					input(type="text" placeholder="Username" name="username")
				.formDiv
					input(type="password" placeholder="Password" name="password")
				.formDiv
					input(type="submit" value="LOGIN")
				.formOther
					a.forgotBtn(href="#") FORGOT PASSWORD?
					a.needAccount(href="#") NEED AN ACCOUNT?
			form#register
				.formHead
					h1 BECOME A BRO
					p Register to gain full access
				.formDiv
					input(type="text" placeholder="Username" name="username")
				.formDiv
					input(type="email" placeholder="Email" name="email")
				.formDiv
					input(type="password" placeholder="Password" name="password")
				.formDiv
					input(type="submit" value="REGISTER")
				.formOther
					a.backLogin(href="#") BACK TO LOGIN
					a.regBtn(href="#") WHY REGISTER?